.card {
    border: none;
    border-radius: 0px;
}

.card .card-img {
    border-radius: 0px;
}

.navbar {
    background-color: #FFFFFF !important;
}

.nav-item a:hover {
text-decoration: underline;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.6); /* 添加背景颜色并设置透明度 */
    backdrop-filter: blur(16px); /* 添加模糊效果 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card:hover .card-img-overlay {
    opacity: 1;
  }

  .card:hover {
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.05); /* 添加投影效果 */
    transform: translate(0px, -10px); /* 卡片向左上方偏移5像素 */
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); /* 添加动画效果 */
}

.resume-link {
    display: inline-block;
    position: relative;
  }
  
  .resume-link img {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .resume-link:hover img {
    transform: translate(-5px, -5px);
    box-shadow: rgba(0, 0, 0, 0.1) 10px 20px 50px;
  }

.bi {
    font-size: 1.75rem;
    color: #a1a1a1;
}

.bi:hover {
    color: #838383;
}

.sticky-top {
    top: 3rem;
}

.sidebar {
    font-size: 13px;   
    color:#777777;
}

.sidebar .list-group-item {
    color: #777777;
}

.sidebar .list-group-item h6 {
    color:#141414;
}

 
.primary {
    color: #006c4d;
}

.secondary {
    color: #4c6358;
}

.btn-primary {
    background-color: #646464;
} 

.btn-primary:hover, .btn-primary:focus {
    background-color: #464646;
}

.tan {
    background-color: #f8f3f0;
}

.list-group-item.active {
    background-color: #000000;
    color: #FFFFFF;
}

body {
    
    color: #1b1b1b;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.25px;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Bebas Neue', sans-serif;
}

.caption {
    font-size: 13px;
    letter-spacing: 0.4px;
}

.p2 {
    font-size: 14px;
  }

p {
    font-size: 18px; /*改变字体大小*/
  }

.zoom-on-hover {
    transition: transform 0.5s;
  }
  
  .zoom-on-hover:hover {
    transform: scale(1.05);
    cursor: zoom-in;
  }

.my-list {
    list-style: none; /*隐藏默认的列表样式*/
    padding-left: 0; /*去除默认的内边距*/
    font-size: 18px; /*设置字体大小为18像素*/
    line-height: 2; /*设置行高为1.5倍的字体大小*/
  }
  
.my-list li {
    border-left: 3px solid black; /*添加竖线样式*/
    padding-left: 16px; /*为文本添加一些内边距*/
  }

  .dropdown-menu {
    background-color: #ffffff;
    color: #000000;
    
  }
  
  .dropdown-toggle {
    background-color: #ffffff;
    color: #000000;
    border-radius: 100px; /* 设置圆角 */
    border: none;
    width: 72px;
    height: 36px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  }


  .dropdown {
    display: flex;
    justify-content: center;
  }